body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #001f47;

  display: flex;
  justify-content: center;
}
.container {
  gap: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.weather-component {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 20px;
  padding: 15px;
  width: 400px;
  height: 170px;
}
.fa-snowflake {
  font-size: 100px;
  color: #ccefff;
}
.fa-cloud-showers-heavy {
  font-size: 100px;
  animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
    color: white;
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
    color: rgb(206, 232, 245);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
    color: white;
  }
}

.art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border-left: 2px solid white;
}
.weather-component > h1,
h4,
h3 {
  padding: 0;
  margin: 0;
}
.weather-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.degrees {
  font-size: 60px;
  margin: 0;
}
.city-name {
  width: auto;
  display: flex;
  justify-content: start;

  flex-direction: row-reverse;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  padding: 5px;
  padding-top: 15px;
  align-self: center;
  text-align: center;
  width: 120px;
}

.fa-cloud-sun {
  font-size: 100px;
  animation: cloud-sun 3s 0s infinite;
}
@keyframes cloud-sun {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.fa-cloud {
  font-size: 100px;
  animation: cloud 3s 0s ease-in-out infinite;
}
@keyframes cloud {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.fa-sun {
  font-size: 100px;
  animation: sun 3s 0s ease-in-out infinite;
}

@keyframes sun {
  0% {
    color: white;
    transform: rotate(0);
  }
  50% {
    color: #fae2b7;
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}

#weather {
  width: 400px;
  padding: 15px;
  border-radius: 1em;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  align-items: center;
  gap: 10px;
}
#weather > input,
button {
  border-radius: 1em;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: white;
}
